* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post__btns {
    display: flex;
}

.post-enter {
    transform: translateX(-350px);
}

.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.page__wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.page {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid teal;
    cursor: pointer;
}

.page__current {
    border: 2px solid orange;
    font-weight: bold;
}

.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 30px;
    background: lightgray;
    justify-content: right;
}

.navbar__links {
    display: flex;
    justify-content: space-around;
}


.navbar__links .header-link {
    padding: 5px 15px;
    background: transparent;
    border-radius: 30px;
    background: white;
    transition: all .2s;
    text-decoration: none;
}

.header-link:hover {
    border: 1px solid teal;
    font-weight: bold;
    color: teal;
}

.header-link.active {
    border: 1px solid teal;
    font-weight: bold;
    background: white;
    color: teal;
}